__pycache__/
build/
*.egg-info/
.idea/
data/
*.code-workspace
.vscode
*.srctrl*
.mypy_cache
.pytest_cache
*.json
*.id0
*.id1
*.id2
*.til
*.nam
.coverage
*.log
*.run
*.hexlic
*.reg
*.key
*.i64
*.BinExport
*.quokka