.run_pyrrha:
  stage: build
  before_script:
    - python --version ; pip --version  # For debugging+
    - python3 -m venv venv
    - source venv/bin/activate
  script:
    - pip install '.'
    - pyrrha $MAPPER --db ${DB} -j $(nproc) tests/test_fw ${MAPPER_OPTIONS}
  artifacts:
      when: on_success
      access: developer
      expire_in: 1 week
      paths:
        - ${DB}.srctrldb
        - ${DB}.srctrlprj

artifact_fs:
  extends: .run_pyrrha
  image: python:latest
  variables:
    MAPPER: fs
    DB: fs

.run_fs-cg:
  extends: .run_pyrrha
  image: 
    name: $CONTAINER_PATH/${DISASSEMBLER}:${VERSION}
    docker:
      user: user
  variables:
    MAPPER: fs-cg
    DB: ${DISASSEMBLER}_${VERSION}_${EXPORTER}
    MAPPER_OPTIONS: '--disassembler ${DISASSEMBLER} --exporter ${EXPORTER}'

artifact_fs-cg_ida:
  extends: 
    - .run_fs-cg
  variables:
    DISASSEMBLER: ida
  parallel:
    matrix:
      - VERSION: 84
        EXPORTER: [quokka, binexport]
      - VERSION: 91
        EXPORTER: quokka
  rules:
    - if: $VERSION == "84"
      variables: 
        KEY: $IDA_KEY
        KEY_NAME: ida.key
        REG: $IDA84_REG
    - if: $VERSION == "91"
      variables: 
        KEY: $LICENSE
        KEY_NAME: ida_license.hexlic
        REG: $IDA_REG
  before_script:
    - !reference [ .run_fs-cg, before_script ]
    - mkdir -p ~/.idapro/
    - echo $KEY | base64 -d  > ~/.idapro/$KEY_NAME
    - echo $REG | base64 -d  > ~/.idapro/ida.reg
    - idapyswitch -a
    - export IDA_LICENSE=keyfile=$KEY_NAME

artifact_fs-cg_ghidra:
  extends: .run_fs-cg
  variables:
    DISASSEMBLER: ghidra
  parallel:
    matrix:
      - VERSION: 11.1.2
        EXPORTER: binexport


.test_template:
  stage: test
  variables:
    TEST_PATH: tests/
  script:
    - pip install ".[test]"
    - pytest  --junitxml=report.xml  --cov="pyrrha_mapper" --cov-report xml -vvv -x ${TEST_SUP_OPTIONS} ${TEST_PATH}
    - coverage report
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

test_data_structures: 
  extends: .test_template
  image: python:latest
  variables:
    TEST_PATH: tests/test_filesystem_objects.py

test_fs: 
  extends: 
    - artifact_fs
    - .test_template
  image: python:latest
  variables:
    TEST_PATH: tests/test_cli.py::TestFSMapper
  needs:
    - artifact_fs

.test_fs-cg: 
  extends:
    - .test_template
  image: !reference [ .run_fs-cg, image ]
  variables:
    TEST_PATH: tests/test_cli.py::TestFsCgMapper
    TEST_SUP_OPTIONS: ${MAPPER_OPTIONS}

test_fs-cg_ghidra:
  extends: 
    - artifact_fs-cg_ghidra
    - .test_fs-cg
  needs:
    - artifact_fs-cg_ghidra

test_fs-cg_ida:
  extends: 
    - artifact_fs-cg_ida
    - .test_fs-cg
  needs:
    - artifact_fs-cg_ida